.ipynb_checkpoints
dataset_preparation.ipynb
clead_dt.jld2
b_mixture.ipynb
mix_adv_chain.jld2
mix_sim_chain.jld2
umet_exposure.ipynb
umet_exposure_files
dim_red_aut.ipynb
dim_red_aut_files
high_exposure.ipynb
gexpr_results
gexpr_results2
rxinfer_exposure.ipynp
j_arrow.ipynp
test_gmm.html
test_gmm.ipynb
ppca_turing.ipynb
variational_inference.ipynb
clean_dt.arrow
duckdb_test.ipynb
vs_bayesian.ipynb
gwas_test.ipynb
bw_placenta_metals.ipynb
splines.ipynb